<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{normal/base1::layout(~{::section})}"
>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Dashboard</title>
  </head>
  <body>
    <section>
      <!-- <div class="card ml-5 align-items-center" style="width: 20rem; background-color: transparent;"> -->
        <div class="card-body text-center" th:if="${item}">
          <div class="container">
            <h2 class="mt-3 text-center">
              <span th:text="${item.itemName}"></span>
            </h2>
            <br /><br />
            <table class="table">
              <thead></thead>
              <tbody>
                <tr>
                  <th scope="row"># Id</th>
                  <td><span th:text="${item.itemId}"></span></td>
                </tr>
                <tr>
                  <th scope="row">Rating</th>
                  <td><span th:text="${item.rating}"></span></td>
                </tr>
                <tr>
                  <th scope="row">price</th>
                  <td><span th:text="${item.price}"></span></td>
                </tr>
                <!-- <tr>
                  <th scope="row">Phone</th>
                  <td><span th:text="${item.phone}"></span></td>
                </tr> -->
              </tbody>
            </table>
            <form class="mt-2" th:action="@{'/admin/update/'+${item.itemId}}" method="post">
              <a href="#" th:onclick="|deleteItem(${item.itemId})|" class="btn btn-danger btn-sm">Delete</a>
							<button type="submit" class="btn btn-primary btn-sm">Update</button>
						</form>
            <a th:href="@{/admin/dashboard/0}">Back</a>
          </div>
        </div>
    <!-- </div> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script>
			function deleteItem(cid){
				swal({
					title: "Are you sure?",
					text: "You want to delete this item!",
					icon: "warning",
					buttons: true,
					dangerMode: true,
					})
					.then((willDelete) => {
					if (willDelete) {
						swal("deleted..", {
						icon: "success",
						});
						window.location="/user/delete/" +cid;
					} else {
						swal("Your item is safe..");
					}
					});
			}
		</script>
    <h2 class="bg-danger " th:unless="${item}"> You don't have permission to see this item!!</h2>
    </section>
  </body>
</html>
