<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base::layout(~{::section})}"
>
  <head>
    <meta charset="ISO-8859-1" />
    <title>Login</title>
  </head>
  <body>
    <section class="banners d-flex justify-content-center align-items-center">
      <div class="container ">
        <div class="row">
          <div class="col-md-6 offset-md-3">
            <div class="my-card">
<!-- form -->
              <form
                id="login-form"
                class="form"
                th:action="@{/dologin}"
                method="post"
              >
                <h1 class="text-center">LogIn Here</h1>
                <br />
                <div th:if="${param.error}" class="alert alert-danger">
                  Invalid Email or password
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                  You have been logged out
                </div>
<!-- Email input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example1"
                    >Email address</label
                  >
                  <input
                    type="email"
                    id="form2Example1"
                    class="form-control"
                    placeholder="Enter email"
                    name="username"
                  />
                </div>

<!-- Password input -->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form2Example2">Password</label>
                  <input
                    type="password"
                    id="form2Example2"
                    class="form-control"
                    placeholder="Enter password"
                    name="password"
                  />
                </div>

                <!-- 2 column grid layout for inline styling -->
                <div class="row mb-4">
                  <div class="col d-flex justify-content-center">
<!-- forgot password -->
                  <div class="col">
                    <a href="#" th:href="@{/forgot}">Forgot password?</a>
                  </div>
                </div>
                <div class="container text-center">
<!-- Submit button -->
                  <button type="submit" class="btn btn-primary mb-4">
                    SIGN IN
                  </button>
<!-- Register buttons -->
                  <p>
                    Not a member? <a href="#!" th:href="@{/signup}">Register</a>
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
